<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Notícias</title>
	</head>
	<body>		
		<h1>Notícias</h1>
		
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Título</th>
				</tr>
			</thead>
			<tbody>
				<% for (var i = 0; i < noticias.length; i++) { %>
					<tr>
						<td><%= noticias[i].id_noticia %></td>
						<td><%= noticias[i].titulo %></td>
					</tr>
				<% } %>
			</tbody>
		</table>

	</body>
</html>	